# dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# next.js
.next/
/out/

# production
/build

# testing
/coverage

# misc
.DS_Store
*.pem
*.pack.gz

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

sequence/
sequence.zip

# Videos
*.mp4
